/* Basic styling sheets for the popup HTML interface of the extension. for the people working on this please use classes and ids that are descriptive to what they do. */
/* This will help with visual clarity and non clashing styles. */